.modal-container{
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 91.5%;
    width: 95.8%;
    padding: 2rem;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.601);
}
.form p{ 
    display: grid;
    grid-template-columns: repeat(2,210px);
    padding: 0;
}

.modal-content{
    position: relative;
    top: 8rem;
    left: 33rem;
    background-color: #f9eae0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    width: 30rem;
    height: 60.5%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.exit-button{
    padding: 8px 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.exit-button:hover{
    background-color: rgb(179, 128, 128);
}


.pos-absolute{
    position: absolute;
    right: 0;
    top: 0;;
}
.button{
    /* margin-top: 1em; */
    margin-left: 24em;
    size: 18px;
    border: none;
    color:black;
    border-radius: 10px;
    font-size: 17px;
    size: 5%; 
    background-color: #c59e6d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;

}
.inputs{
    border: 2px solid gray;
    border-radius: 5px;
    height: 30px;
    width: 110%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: .5rem;
}
.head{
    font-size: 22px;
    text-align: center;
}